# Business Question 
### Customer behaviour analysis
- Why customers stop using a product or service?
- What percentage of customers have churned in the past quarter?
- Predict/recommend the next order of a customer?

In [1]:
#orders_data 
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi
import zipfile

# Initialize and authenticate the Kaggle API
api = KaggleApi()
api.authenticate()

# Download the specific file
api.dataset_download_file(dataset="psparks/instacart-market-basket-analysis", file_name="orders.csv", path=".")

# Unzip the file
with zipfile.ZipFile("orders.csv.zip", 'r') as zip_ref:
    zip_ref.extractall(".")

# Load the CSV into a DataFrame
orders_data = pd.read_csv("orders.csv")
orders_data

Dataset URL: https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [2]:
orders_data.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [3]:
orders_data.duplicated().sum()

0

In [4]:
orders_data['days_since_prior_order'] = orders_data['days_since_prior_order'].fillna(0)

In [5]:
orders_data.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [12]:
orders_data['days_since_prior_order'].max()

30.0

In [6]:
#order_products__prior
api.dataset_download_file(dataset="psparks/instacart-market-basket-analysis", file_name="order_products__prior.csv", path=".")

with zipfile.ZipFile("order_products__prior.csv.zip", 'r') as zip_ref:
    zip_ref.extractall(".")
    
order_products__prior = pd.read_csv("order_products__prior.csv")
order_products__prior

Dataset URL: https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [8]:
order_products__prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [11]:
order_products__prior.duplicated().sum()

0

In [10]:
#aisles
api.dataset_download_file(dataset="psparks/instacart-market-basket-analysis", file_name="aisles.csv")
aisles = pd.read_csv("aisles.csv")
aisles

Dataset URL: https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [19]:
aisles.isnull().sum()

aisle_id    0
aisle       0
dtype: int64

In [ ]:
aisles.duplicated().sum()

In [9]:
#departments
api.dataset_download_file(dataset="psparks/instacart-market-basket-analysis", file_name="departments.csv")
departments = pd.read_csv("aisles.csv")
departments

Dataset URL: https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [20]:
departments.isnull().sum()

aisle_id    0
aisle       0
dtype: int64

In [ ]:
departments.duplicated().sum()

In [11]:
#order_products__train
api.dataset_download_file(dataset="psparks/instacart-market-basket-analysis", file_name="order_products__train.csv", path=".")

with zipfile.ZipFile("order_products__train.csv.zip", 'r') as zip_ref:
    zip_ref.extractall(".")
    
order_products__train = pd.read_csv("order_products__prior.csv")
order_products__train

Dataset URL: https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [21]:
order_products__train.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [ ]:
order_products__train.duplicated().sum()

In [13]:
#products
api.dataset_download_file(dataset="psparks/instacart-market-basket-analysis", file_name="products.csv", path=".")

with zipfile.ZipFile("products.csv.zip", 'r') as zip_ref:
    zip_ref.extractall(".")
    
products = pd.read_csv("products.csv")
products

Dataset URL: https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [22]:
products.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [ ]:
products.duplicated().sum()